<div class="row">

  <div class="col-xs-12 col-sm-6 text-center">
    <br /><br />
    <p class="hidden-xs">
      <br /><br /><br />
    </p>
    <p class="col-xs-12">
      Already have an account?
    </p>
    <br />
    <br />
    <%= link_to "Log in an existing account", new_user_session_path, class: 'btn btn-lg btn-primary'  %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <h2>Sign up</h2>
    <%= bootstrap_form_for(resource, url: user_registration_path) do |f| %>
      <%= f.error_notification %>
      <%= f.input :first_name, required: true, autofocus: true %>
      <%= f.input :last_name, required: true  %>
      <%= f.input :email, required: true %>
      <%= f.input :postal_address, required: true, as: :string %>
      <%= f.input :password, required: true, placeholder: ("#{@minimum_password_length} characters minimum" if @validatable) %>
      <%= f.input :confirm_password, required: true %>
      <%= f.button :submit, "Sign up", class: 'col-xs-12 btn btn-info' %>

    <% end %>
  </div>

</div>
