<div class="row">

  <div class="col-xs-12 col-sm-6">
    <h2>Register a new dog</h2>

    <%= bootstrap_form_for(@dog, url: user_dogs_path, html: {  method: :post }) do |f| %>
      <%= f.error_notification %>
      <%= f.input :name %>
      <%= f.input :breed %>
      <%= f.input :date_of_birth, as: :date, start_year: (DateTime.current.year - 50), end_year: DateTime.current.year %>
      <%= f.input :suggested_registration_length, input_html: { name: 'registration_period' }, label: 'Registration Period', allow_blank: false, as: :radio_buttons, collection: Registration::REGISTRATION_PERIOD_PRICES.map {|v,k| ["#{v} Months for $#{k}, valid until #{ format_date(DateTime.current + v.months) }", v] } %>
      <%= f.button :submit, "Register Now", class: "col-xs-12 btn btn-info" %>
    <% end %>

  </div>
  
  <% if @user.dogs.present? %>
    <div class="col-xs-12 col-sm-6 text-center">
      <br /><br /><br />
      <p class="col-xs-12 strong">
        Has your dog been registered before?
      </p>
      <% @user.dogs.sort_by{|d| d.current_registration? ? 1 : 0 }.each do |dog| %>
        <%= link_to new_user_dog_registration_path(@user, dog), class: 'btn btn-lg btn-success col-xs-12 margin-10' do %>
          Renew <%= dog.name %> 
          <span class="glyphicon <%= dog_status_glyphicon dog %> pull-right" data-trigger="hover" aria-hidden="true"  data-container="body" data-toggle="popover" data-placement="bottom" data-content="<%= dog.registration_status %>"></span>
        <% end %>
      <% end %>
    </div>
  <% end %>

</div>
