<% if @dog.registration_status == Dog::STATUS_PENDING_PAYMENT %>
  <div class="alert alert-warning">
    <strong>Registration fees for <%= @dog.name %> are owing</strong>
    <p>
      Please deposit <span class="text-muted"><%= number_to_currency @dog.fees_owing %></span> into account <span class="text-muted"><%= bank_account %></span> with a reference of <span class="text-muted">#<%= @dog.id %></span> as soon as possible.
    </p>
  </div>
<% end %>

<div class="row text-right">
  <div class="col-xs-12">
    <h1 class="pull-left">
      <%= @dog.name %>
    </h1>
    <br />
    <%= link_to "Edit Details", edit_user_dog_path(@user, @dog), class: 'btn btn-default' %>
  </div>

  <div class="col-xs-12">
    <h4 class="no-margin pull-left">
      <span class="label label-default">
        <%= @dog.breed %>
      </span>
    </h4>
    <%= link_to "Delete Dog", user_dog_path(@user, @dog), data: { confirm: "Are you sure you want to delete this dog?" }, method: :delete %></p>
  </div>
</div>

<br />
<p>
  Born <%= format_date @dog.date_of_birth %>, <%= @dog.age %> years old
</p>
<p>
  First registered on <%= format_date @dog.created_at %>
</p>
<hr />
<br />

<div class="row">
  <div class="col-xs-12 text-right">
    <h3 class="pull-left"><span class="hidden-xs">Registration </span>History</h3>
    <br />
    <%= link_to "Renew", new_user_dog_registration_path(@user, @dog), class: 'btn btn-default' %>
  </div>
</div>
<br />

<%= render partial: 'registrations/list', locals: { dog: @dog } %>