<%= render 'mailer_header' %>
<p>This email is to confirm your request to register <%= @dog.name %> until <%= format_date @dog.registered_until  %></p>
<p>
  <%= number_to_currency @dog.fees_owing %> in registration fees for <%= @dog.name %> is owing.
  <br />
  Please make a deposit into <%= bank_account %> with a reference of #<%= @dog.id %> as soon as possible.
</p>
<%= render 'mailer_footer' %>