<div class="row">
  <div class="col-xs-12 text-right">
    <h1 class="pull-left">
      <%= @user.name %>
    </h1>
    <br />
    <%= link_to 'Settings', edit_user_registration_path, class: 'btn btn-default' %>
    <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
    <br /><br />
    <%= link_to "Delete account", user_path, data: { confirm: "Are you sure you want to delete your account?" }, method: :delete %></p>
  </div>
</div>

<p class="alert alert-info">
  <%= @user.email %>
  <br />
  <%= @user.postal_address_formatted %>
</p>
<hr />
<br />

<div class="row">
  <div class="col-xs-12 text-right">
    <h3 class="pull-left">Dogs</h3>
    <br />
    <%= link_to 'Register a new dog', new_user_dog_path(@user), class: 'btn btn-default' %>
  </div>
</div>
<br />

<%= render partial: 'dogs/list', locals: { dogs: @user.dogs } %>